@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --app-bg-light: #5e3229;
  --app-logo: #5e3229;
  --main-color: #5e3229;
  --app-left: (#d4d4d8);
  --secondary-color: #161616;
  --color-light: rgba(52, 129, 210, 0.2);
  --warning-bg: #ffe5e5;
  --warning-icon: #ff8181;
  --applicant-bg: #e3fff1;
  --applicant-icon: #61e1a1;
  --close-bg: #fff8e5;
  --close-icon: #fdbc64;
  --draft-bg: #fed8b3;
  --draft-icon: #e9780e;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Urbanist", sans-serif;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 1680px;
}

.app-left {
  flex-basis: 240px;
  background-color: #d4d4d8;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 0;
  transition: all 0.4s ease-in;
  box-shadow: 4px 0px 6px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 4px 0px 6px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 0px 6px -1px rgba(0, 0, 0, 0.4);
  z-index: 99999;
}

.app-left.show {
  top: 0;
  right: 0;
  padding: 0;
  display: block;
  border-radius: 0;
  background-color: #1e212600;
  backdrop-filter: blur(26px) saturate(85%) contrast(100%);
  -webkit-backdrop-filter: blur(26px) saturate(85%) contrast(100%);
}

.app-main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5% 8px 8px 8px;
}

.app-right {
  flex-basis: 200px;
  width: 200px;
  background-color: #d4d4d8;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.4s ease-in;
  z-index: 99999;
}

.app-right.show {
  top: 0;
  right: 0;
  opacity: 1;
  z-index: 99999;
}

.app-right-content {
  flex: 1;
  height: 100%;
}

.app-right-section {
  margin-bottom: 16px;
}

.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 35px;
}

.app-logo {
  display: flex;
  align-items: center;
  color: var(--app-logo);
  padding: 0;
  margin: 0;
}

.app-loo {
  display: none;
  opacity: 0;
  flex-basis: 200px;
}

button.logo {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.app-logo span {
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  margin-left: 16px;
}

.close-menu {
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--main-color);
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 6px;
}
.app-right .close-right {
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--main-color);
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 6px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.nav-list {
  margin-top: 40px;
}

.nav-list-item {
  margin-bottom: 12px;
}

.sidebar a:hover {
  color: var(--main-color);
  font-weight: 600;
}

.nav-list-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 24px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
}

.nav-list-link i {
  margin-right: 12px;
}

.nav-list-link:after {
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--app-logo);
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 2px;
  opacity: 0;
  height: 0;
}

.logout {
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.logout h2,
.logout i {
  font-size: 1rem;
  font-weight: 900;
}

.sidebar a.active::after {
  content: "";
  height: 100%;
  width: 10px;
  background-color: var(--app-logo);
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 4px;
  opacity: 1;
}

.sidebar a.active {
  color: var(--app-logo);
  font-size: 1rem;
  font-weight: 900;
}

.main-header-line {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 35px;
  background-color: #1e212600;
  backdrop-filter: blur(40px) saturate(85%) contrast(100%);
  -webkit-backdrop-filter: blur(16px) saturate(100%) contrast(100%);
  z-index: 999;
}

.main-header-line h1 {
  color: var(--main-color);
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}

/* .main-header-line input {
  border-radius: 4px;
  border: none;
  border: 1px solid var(--color-light);
  color: var(--main-color);
  height: 32px;
  padding: 0 8px 0 32px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
  width: 100%;
  max-width: 400px;
  margin-left: 16px;
}
.main-header-line input:placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.main-header-line input:hover,
.main-header-line input:focus {
  border: 1px solid #3481d2;
  box-shadow: 0 0 0 3px var(--color-light);
} */

.chart-row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.chart-row.three .chart-container-wrapper {
  width: 25.9%;
}
.chart-row.three .chart-container-wrapper .chart-container {
  align-items: center;
  justify-content: space-between;
}
.chart-row.two .big {
  flex: 1;
  max-width: 77.7%;
}
.chart-row.two .bigbang {
  flex: 1;
  max-width: 100%;
}
.chart-row.two .big .chart-container {
  flex-direction: column;
}
.chart-row.two .bigbang .chart-container {
  flex-direction: column;
}
.chart-row.two .small {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}
.chart-row.two .small .chart-container {
  flex-direction: column;
}
/* .chart-row.two .small .chart-container + .chart-container {
  margin-top: 16px;
} */

.line-chart {
  width: 100%;
  margin-top: 24px;
}

.chart-container {
  width: 100%;
  /* height: 100%; */
  border-radius: 18px;
  background-color: #d4d4d8;
  box-shadow: 3px 7px 9px -4px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 3px 7px 9px -4px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 3px 7px 9px -4px rgba(0, 0, 0, 0.52);
  padding: 16px;
  display: flex;
  align-items: center;
}

.chart-container.applicants {
  max-height: 336px;
  overflow-y: auto;
}

.chart-container-wrapper {
  padding: 8px;
}

.chart-info-wrapper {
  flex-shrink: 0;
  flex-basis: 50%;
}

.chart-info-wrapper h2 {
  color: var(--secondary-color);
  font-size: 15px;
  text-wrap: nowrap;
  line-height: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

.chart-info-wrapper span {
  color: var(--main-color);
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.chart-svg i {
  color: var(--app-logo);
  font-size: 3rem;
  text-anchor: middle;
}

.chart-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.chart-container-header h2 {
  margin: 0;
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 18px;
  opacity: 0.8;
}

.chart-container-header span {
  color: var(--app-logo);
  font-size: 12px;
  line-height: 16px;
}

.chart-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70px;
  min-width: 30px;
  flex: 1;
}
.chart-progres {
  position: relative;
  width: 50%;
  height: auto;
  margin: 0;
  padding: 0;
  /* max-width: 90px;
  min-width: 40px; */
  flex: 1;
}

.progress-bar {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.progress-bar-fill {
  height: 20px;
  border-radius: 5px;
}
.progress-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 1.2;
}

.circle {
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  -webkit-animation: progress 1s ease-out forwards;
  animation: progress 1s ease-out forwards;
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}
.circular-chart.orange .circle-bg {
  stroke: #776547;
}
.circular-chart.blue .circle {
  stroke: #00cfde;
}
.circular-chart.blue .circle-bg {
  stroke: #557b88;
}
.circular-chart.pink .circle {
  stroke: #ff7dcb;
}
.circular-chart.pink .circle-bg {
  stroke: #6f5684;
}

.percentage {
  fill: #fff;
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: 400;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.app-right-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 16px;
}

.app-right-section-header h2 {
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-color);
}

.app-right-section-header span {
  display: inline-block;
  color: var(--secondary-color);
  position: relative;
}

.filter-button {
  display: none;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  border-radius: 6px;
  height: 40px;
  width: 40px;
  padding: 0;
}

.menu-button {
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 6px;
}

.action-buttons {
  display: flex;
  gap: 2%;
}

.acquisitions-bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 8px;
  display: flex;
}

.bar-progress {
  height: 4px;
  display: inline-block;
}
.bar-progress.applications {
  background-color: #5e3229;
}
.bar-progress.shortlisted {
  background-color: rgba(139, 69, 19, 1);
}
.bar-progress.on-hold {
  background-color: rgba(255, 223, 186, 1);
}
.bar-progress.rejected {
  background-color: rgba(210, 105, 30, 1);
}
.bar-progress.fivt {
  background-color: rgba(238, 130, 238, 1);
}

.progress-bar-info {
  display: flex;
  align-items: center;
  margin-top: 8px;
  width: 100%;
}

.progress-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}
.progress-color.applications {
  background-color: #5e3229;
}
.progress-color.shortlisted {
  background-color: rgba(139, 69, 19, 1);
}
.progress-color.on-hold {
  background-color: rgba(255, 223, 186, 1);
}
.progress-color.rejected {
  background-color: rgba(210, 105, 30, 1);
}
.progress-color.fivt {
  background-color: rgba(238, 130, 238, 1);
}
div#topProductContainer {
  width: 100%;
}

.progress-type {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 16px;
}

.progress-amount {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 16px;
  margin-left: auto;
}

.sorting_1 {
  text-wrap: nowrap;
}

.month-filter-contianer {
  display: flex;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 7px;
}

#filterInfo {
  height: 100%;
  overflow: auto;
  /* border: 1px solid #ccc; */
  box-shadow: 0px 4px 17px -1px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 0px 4px 17px -1px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 4px 17px -1px rgba(0, 0, 0, 0.4) inset;
  background: url("../assets/images/bgThumbnail.jpg") center/cover no-repeat;
  padding: 10px;
}

#filterInfo ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 20px;
}

#filterInfo li {
  margin: 5px 0;
}

.dropbtn {
  background-color: transparent;
  border: 1px solid #857e7e;
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  color: var(--secondary-color);
  font-variant-numeric: tabular-nums;
  cursor: pointer;
  text-transform: none;
  width: 100%;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0.8rem;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content.show {
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 12px;
}

.dropdown-content label {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--app-left);
  transform: translateY(-1px);
}

.custom-select {
  position: relative;
  display: inline-block;
}

.strip {
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: black;
  margin: 0 5px;
  vertical-align: middle;
}

select,
option {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.monthFilter {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--app-left);
  border: 1px solid #857e7e;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .dropbtn {
    font-size: 14px;
    padding: 12px;
  }

  .dropdown-content {
    min-width: 140px;
  }

  .dropdown-content label {
    padding: 10px 14px;
    font-size: 14px;
  }

  .filter-container {
    display: flex;
    gap: 7px;
  }
}

@media screen and (max-width: 1350px) {
  .app-right {
    flex-basis: 240px;
    width: 240px;
  }

  .app-left {
    flex-basis: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .top-menu {
    justify-content: space-between;
  }
  .main-header-line {
    justify-content: space-between;
  }
  .app-loo {
    opacity: 0;
    display: block;
  }
  .app-left.show {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 0;
    flex-basis: 240px;
    width: 240px;
    height: 100vh;
    background-color: #1e212600;
    backdrop-filter: blur(40px) saturate(85%) contrast(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%) contrast(100%);
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);
  }

  .app-right {
    position: absolute;
    display: none;
    opacity: 0;
    top: 0;
  }
  .app-right.show {
    display: block;
    opacity: 1;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);
    background-color: #1e212600;
    backdrop-filter: blur(40px) saturate(85%) contrast(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%) contrast(100%);
    z-index: 99999;
  }
  .app-right .close-right {
    display: flex;
  }
  .app-main {
    padding: 6% 8px 8px 8px;
  }
  .chart-info-wrapper h2 {
    text-wrap: wrap;
  }

  .filter-button {
    display: flex;
    color: var(--main-color);
  }
}
@media screen and (max-width: 1180px) {
  .chart-row.two {
    flex-direction: column;
  }

  .chart-row.two .big {
    max-width: 100%;
  }
  .chart-svg i {
    font-size: 2.5rem;
    text-anchor: middle;
  }
  .chart-row.two .small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .chart-row.two .small .chart-container {
    width: calc(50% - 8px);
  }
  .chart-row.two .small .chart-container.applicants {
    margin-top: 0;
  }
}

@media screen and (max-width: 920px) {
  /* .filter-button, */
  .menu-button {
    display: flex;
  }
  .app-loo {
    opacity: 0;
    display: none;
  }

  .app-left {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1e212600;
    backdrop-filter: blur(40px) saturate(85%) contrast(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%) contrast(100%);
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);
  }

  .close-menu {
    display: flex;
  }
  .main-header-line {
    z-index: 1;
  }
}

@media only screen and (max-width: 920px) and (orientation: landscape) {
  .dropdown-content {
    overflow: auto;
    right: 0.8rem;
  }

  .dropdown-content.show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    position: absolute;
    padding: 5px;
  }

  .dropdown-content label {
    padding: 12px 8px;
    text-wrap: nowrap;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .chart-row.three {
    flex-direction: column;
  }

  .chart-row.three .chart-container-wrapper {
    width: 100%;
  }

  .chart-svg {
    min-height: 60px;
    min-width: 40px;
  }
  .chart-svg i {
    font-size: 2.5rem;
    text-anchor: middle;
  }
  .app-main {
    padding: 12% 24px 24px 24px;
  }
}

@media screen and (max-width: 520px) {
  .chart-row.two .small {
    flex-direction: column;
  }

  .chart-row.two .small .chart-container {
    width: 100%;
  }
  .chart-row.two .small .chart-container.applicants {
    margin-top: 16px;
  }
  .app-main {
    padding: 20% 24px 24px 24px;
  }

  .main-header-line h1 {
    font-size: 14px;
  }
}
