@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --app-bg-light: #5e3229;
  --app-logo: #5e3229;
  --main-color: #5e3229;
  --secondary-color: #161616;
  --color-light: rgba(52, 129, 210, 0.2);
  --warning-bg: #ffe5e5;
  --warning-icon: #ff8181;
  --applicant-bg: #e3fff1;
  --applicant-icon: #61e1a1;
  --close-bg: #fff8e5;
  --close-icon: #fdbc64;
  --draft-bg: #fed8b3;
  --draft-icon: #e9780e;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Urbanist", sans-serif;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 1680px;
}

.app-left {
  flex-basis: 240px;
  background-color: #d4d4d8;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px 0;
  transition: all 0.4s ease-in;
  border-radius: 0 20px 20px 0;
  z-index: 99999;
}

.app-left.show {
  top: 0;
  right: 0;
  padding: 0;
  display: block;
  border-radius: 0;
  background-color: #1e212600;
  backdrop-filter: blur(26px) saturate(85%) contrast(100%);
  -webkit-backdrop-filter: blur(26px) saturate(85%) contrast(100%);
}

.app-main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4% 24px 24px 24px;
}

.app-right {
  flex-basis: 0px;
  width: 0px;
  height: 100%;
  padding: 64px 0 0 0;
  display: none;
  position: relative;
}

.top-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 35px;
}

.app-logo {
  display: flex;
  align-items: center;
  color: var(--app-logo);
  padding: 0;
  margin: 0;
}

button.logo {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.app-logo span {
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
  margin-left: 16px;
}

.close-menu {
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--main-color);
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 6px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.nav-list {
  margin-top: 40px;
}

.nav-list-item {
  margin-bottom: 12px;
}

.sidebar a:hover {
  color: var(--main-color);
  font-weight: 600;
}

.nav-list-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 24px;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
}

.nav-list-link i {
  margin-right: 12px;
}

.nav-list-link:after {
  content: "";
  height: 100%;
  width: 2px;
  background-color: var(--app-logo);
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 2px;
  opacity: 0;
  height: 0;
}

.sidebar a.active::after {
  content: "";
  height: 100%;
  width: 10px;
  background-color: var(--app-logo);
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 4px;
  opacity: 1;
}

.sidebar a.active {
  color: var(--app-logo);
  font-size: 1rem;
  font-weight: 900;
}

.open-right-area {
  display: none;
}

.main-header-line {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 35px;
  background-color: #1e212600;
  backdrop-filter: blur(40px) saturate(85%) contrast(100%);
  -webkit-backdrop-filter: blur(16px) saturate(100%) contrast(100%);
  z-index: 999;
}

.main-header-line h1 {
  color: var(--main-color);
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}

/* .main-header-line input {
  border-radius: 4px;
  border: none;
  border: 1px solid var(--color-light);
  color: var(--main-color);
  height: 32px;
  padding: 0 8px 0 32px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
  width: 100%;
  max-width: 400px;
  margin-left: 16px;
}
.main-header-line input:placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.main-header-line input:hover,
.main-header-line input:focus {
  border: 1px solid #3481d2;
  box-shadow: 0 0 0 3px var(--color-light);
} */

.chart-row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.chart-row.three .chart-container-wrapper {
  width: 33.3%;
}
.chart-row.three .chart-container-wrapper .chart-container {
  align-items: center;
  justify-content: space-between;
}
.chart-row.two .big {
  flex: 1;
  max-width: 77.7%;
}
.chart-row.two .bigbang {
  flex: 1;
  max-width: 100%;
}
.chart-row.two .big .chart-container {
  flex-direction: column;
}
.chart-row.two .bigbang .chart-container {
  flex-direction: column;
}
.chart-row.two .small {
  width: 33.3%;
}
.chart-row.two .small .chart-container {
  flex-direction: column;
}
.chart-row.two .small .chart-container + .chart-container {
  margin-top: 16px;
}

.line-chart {
  width: 100%;
  margin-top: 24px;
}

.chart-container {
  width: 100%;
  border-radius: 18px;
  background-color: #d4d4d8;
  box-shadow: 3px 7px 9px -4px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 3px 7px 9px -4px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 3px 7px 9px -4px rgba(0, 0, 0, 0.52);
  padding: 16px;
  display: flex;
  align-items: center;
}

.chart-container.applicants {
  max-height: 336px;
  overflow-y: auto;
}

.chart-container-wrapper {
  padding: 8px;
}

.chart-info-wrapper {
  flex-shrink: 0;
  flex-basis: 50%;
}

.chart-info-wrapper h2 {
  color: var(--secondary-color);
  font-size: 15px;
  text-wrap: nowrap;
  line-height: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

.chart-info-wrapper span {
  color: var(--main-color);
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.chart-svg i {
  color: var(--app-logo);
  font-size: 3rem;
  text-anchor: middle;
}

.chart-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.chart-container-header h2 {
  margin: 0;
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 18px;
  opacity: 0.8;
}

.chart-container-header span {
  color: var(--app-logo);
  font-size: 12px;
  line-height: 16px;
}

.chart-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70px;
  min-width: 30px;
  flex: 1;
}

.app-right-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 16px;
}

.app-right-section-header h2 {
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-color);
}

.app-right-section-header span {
  display: inline-block;
  color: var(--secondary-color);
  position: relative;
}

.menu-button {
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 6px;
}

/* .close-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  color: var(--main-color);
  cursor: pointer;
} */

#filterInfo {
  height: 100px; /* Tinggi yang ditentukan, bisa disesuaikan */
  overflow-y: auto; /* Aktifkan scroll vertikal jika isinya terlalu panjang */
  border: 1px solid #ccc; /* Batas untuk elemen agar terlihat jelas */
  padding: 10px; /* Padding untuk memberi ruang di sekitar teks */
  background-color: #f9f9f9; /* Latar belakang yang sedikit berbeda untuk visibilitas */
  margin-bottom: 20px; /* Spasi di bawah elemen untuk pemisahan dari elemen lainnya */
}
#filterInfo ul {
  list-style-type: disc; /* Atur tipe list */
  margin: 0; /* Hapus margin default */
  padding-left: 20px; /* Tambahkan padding kiri untuk spasi */
}

#filterInfo li {
  margin: 5px 0; /* Tambahkan margin atas dan bawah */
}

/* Style untuk tombol dropdown */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Style untuk container dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style untuk dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

/* Style untuk setiap opsi dalam dropdown */
.dropdown-content label {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.categoryFilter:checked + label::before {
  background-color: #3498db; /* Match your button color */
  content: "\2713"; /* Unicode for checkmark symbol */
  color: white;
  font-size: 12px; /* Adjust font size for checkmark */
}

/* Styling for checked labels */
.categoryFilter:checked + label {
  font-weight: bold; /* Make checked labels bolder */
  /* Optionally, add a background color or other styling */
}
/* Hover effect untuk dropdown content */
.dropdown-content label:hover {
  background-color: #f1f1f1;
  color: #333;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  transform: translateY(-2px);
}

/* Responsive styles */
@media (max-width: 768px) {
  .dropbtn {
    font-size: 14px;
    padding: 12px;
  }

  .dropdown-content {
    min-width: 140px;
  }

  .dropdown-content label {
    padding: 10px 14px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1350px) {
  .app-right {
    flex-basis: 240px;
    width: 240px;
  }

  .app-left {
    flex-basis: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .app-right {
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 320px;
    right: -100%;
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);
  }
  .app-right .close-right {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    color: var(--main-color);
    cursor: pointer;
  }
  .app-main {
    padding: 12% 24px 24px 24px;
  }
  .chart-info-wrapper h2 {
    text-wrap: wrap;
  }

  .app-main .open-right-area {
    display: flex;
    color: var(--main-color);
  }
}
@media screen and (max-width: 1180px) {
  .chart-row.two {
    flex-direction: column;
  }

  .chart-row.two .big {
    max-width: 100%;
  }
  .chart-svg i {
    font-size: 2.5rem;
    text-anchor: middle;
  }
  .chart-row.two .small {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .chart-row.two .small .chart-container {
    width: calc(50% - 8px);
  }
  .chart-row.two .small .chart-container.applicants {
    margin-top: 0;
  }
}

@media screen and (max-width: 920px) {
  .menu-button {
    display: flex;
  }
  .app-loo {
    opacity: 0;
    display: none;
  }

  .app-left {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    z-index: 2;
    height: fit-content;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1e212600;
    backdrop-filter: blur(40px) saturate(85%) contrast(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%) contrast(100%);
    box-shadow: 0 0 10px 5px rgba(1, 8, 31, 0.4);
  }

  .close-menu {
    display: flex;
  }
  .main-header-line {
    z-index: 1;
  }
}

@media screen and (max-width: 650px) {
  .chart-row.three {
    flex-direction: column;
  }

  .chart-row.three .chart-container-wrapper {
    width: 100%;
  }

  .chart-svg {
    min-height: 60px;
    min-width: 40px;
  }
  .chart-svg i {
    font-size: 2.5rem;
    text-anchor: middle;
  }
  .app-main {
    padding: 12% 24px 24px 24px;
  }
}

@media screen and (max-width: 520px) {
  .chart-row.two .small {
    flex-direction: column;
  }

  .chart-row.two .small .chart-container {
    width: 100%;
  }
  .chart-row.two .small .chart-container.applicants {
    margin-top: 16px;
  }
  .app-main {
    padding: 20% 24px 24px 24px;
  }

  .main-header-line h1 {
    font-size: 14px;
  }
}
