#menu {
  background: conic-gradient(
    hsl(240, 5%, 84%) 0%,
    hsl(355, 10%, 74%) 10.2%,
    hsl(355, 10%, 74%) 22%,
    hsl(240, 5%, 84%) 50%
  );
  background-repeat: no-repeat;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  gap: 30px;
}

.menu-card {
  background-color: #f3e2e2;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 400px;
  max-width: 100%;
  max-height: 200px;
}

.menu-card img {
  width: 170px;
  height: auto;
  border-radius: 25px;
  object-fit: cover;
}

.menu-info {
  padding: 15px;
  margin: 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-info h3,
p {
  margin: 0;
}

.price {
  color: #101010;
  font-weight: bold;
}

@media (max-width: 768px) {
  #menu {
    height: fit-content;
  }
  .menu-section {
    padding-block: 2%;
    padding-inline: 5%;
    gap: 16px;
  }
  .menu-card {
    width: 360px;
    max-height: none;
  }

  .menu-card img {
    width: 30%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .menu-section {
    padding-block: 2%;
    padding-inline: 5%;
    gap: 16px;
  }
  .menu-card {
    width: 350px;
    max-height: none;
  }

  .menu-card img {
    width: 30%;
  }
}
