header {
  position: fixed;
  width: 100%;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  transition: background-color 0.3s ease;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-right: 30px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu li a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: calc(6px + 1vw);
  color: var(--text-color-drk);
}

.nav-menu li a.active {
  font-weight: bold;
  font-size: calc(6.5px + 1vw);
}

.nav-menu li a:hover {
  color: var(--text-color-lght);
}

#loginButton {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: block;
  background-color: var(--text-color-drk);
  border: 1px solid transparent;
  color: var(--text-color-lght);
  font-weight: 200;
  -webkit-border-radius: 18px;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#loginButton:hover {
  background-color: var(--text-color-lght);
  color: var(--button-color);
  font-weight: 600;
  border-color: var(--button-color);
}

.dropdown {
  display: none;
}

.dropbtn {
  background-color: transparent;
  font-size: calc(12px + 1vw);
  border: none;
  border: solid 2px var(--text-color-drk);
  border-radius: 6px;
  cursor: pointer;
  padding: 6px 9px;
}

.dropbtn:hover {
  background-color: transparent;
}

.dropbtn::before {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: calc(12px + 1vw);
  color: var(--text-color-drk);
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 30%;
  right: 0;
  border-radius: 12px;
  border: 2px solid var(--text-color-drk);
  background-color: var(--text-color-lght);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.305);
  z-index: 1;
}

.dropdown-content a {
  color: var(--text-color-drk);
  padding: 14px 20px;
  font-size: calc(12px + 1vw);
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

.dropdown-content a.active {
  font-weight: bold;
  text-decoration: underline;
}

.dropdown-content a:hover {
  color: var(--text-color-lght);
}

.show {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

a#loginA {
  font-size: calc(12px + 1vw);
  cursor: pointer;
  font-weight: 900;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
  }

  .nav-menu {
    display: none;
  }
  .nav-menu li a {
    font-size: 0.8rem;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content #dropdownLogoutButton {
    color: var(--text-color-lght);
  }
  .dropdown-content #dropdownLogoutButton i {
    color: var(--text-color-lght);
  }

  a#dropdownLogoutButton {
    padding: 7px 0px;
    width: 100%;
    background-color: var(--text-color-drk);
    border-radius: 8px;
  }
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: calc(6rem + 1vw);
  height: auto;
}

@keyframes fadeSwipe {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.logo-img {
  animation: fadeSwipe 0.5s ease-in-out;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-scrolled {
  background-color: #1e212600;
  backdrop-filter: blur(40px) saturate(85%) contrast(100%);
  -webkit-backdrop-filter: blur(16px) saturate(100%) contrast(100%);
}

.navbar-about {
  background-color: var(--text-color-lght);
  box-shadow: 0px -3px 12px 4px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px -3px 12px 4px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px -3px 12px 4px rgba(0, 0, 0, 0.65);
}

.submenu {
  display: none;
  position: absolute;
  right: 2%;
  border-radius: 12px;
  border: 1.5px solid var(--text-color-drk);
  background-color: var(--section-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.305);
  z-index: 1;
  list-style-type: none;
  padding: 0;
}

.submenu-li:hover .submenu {
  display: block;
}

.submenu li {
  border-radius: 9px;
  margin: 0 auto;
}

.submenu li a {
  font-size: 18px;
  font-weight: 300;
  display: block;
  text-decoration: none;
  border-radius: 9px;
  padding: 8px 12px;
  margin: 0;
  color: var(--text-color-drk);
}

.submenu li a i {
  font-size: 18px;
}

.submenu li:hover a {
  background-color: var(--text-color-drk);
}

.submenu li:hover i {
  color: var(--text-color-lght);
}

@media only screen and (max-width: 667px) and (orientation: landscape) {
  .logo img {
    max-width: calc(4.5rem + 1vw);
    height: auto;
  }

  .dropbtn {
    font-size: calc(7px + 1vw);
    border: solid 1.5px var(--text-color-drk);
    border-radius: 6px;
    padding: 6px 8.5px;
  }

  .dropbtn:hover {
    background-color: transparent;
  }

  .dropbtn::before {
    font-size: calc(7px + 1vw);
  }

  .dropdown-content.show {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
  }

  .dropdown-content.show a:nth-child(7) {
    grid-column: span 2 !important;
    width: fit-content !important;
    padding: 7px 10px !important;
  }

  .dropdown-content.show a#loginA {
    grid-column: span 2 !important;
    width: fit-content;
  }

  .dropdown-content {
    padding: 7px;
    gap: 10px;
    right: 2%;
    border-radius: 12px;
    z-index: 1;
  }

  .dropdown-content a {
    padding: 4px;
    width: 100%;
    font-size: calc(9px + 1vw);
    display: flex;
    gap: 2px;
    text-align: start;
    align-items: center;
  }
}
