body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
  font-size: 13px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 99999;
}
.navbar .btn-back {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  box-shadow: none !important;
  font-size: 16px;
}
.navbar .btn-back:hover {
  color: #005bb5;
}
.navbar .logo {
  padding: 10px;
  font-weight: bold;
}
.logo img {
  height: auto;
  width: 100px;
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: #fff;
  font-size: 1.5em;
}

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

#editProfileContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #f2f2f2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.profile-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/images/flipThumbnail.jpg") top/cover no-repeat;
}

.edit-profile {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-profile-container,
.edit-email-container {
  width: 100%;
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.profile-container {
  background-color: #1e212600;
  backdrop-filter: blur(40px) saturate(85%) contrast(100%);
  -webkit-backdrop-filter: blur(16px) saturate(100%) contrast(100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 50%;
  margin: 20px;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 70%;
  justify-content: center;
  color: var(--text-color-drk);
}

.profile-actions {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.btn-actions {
  display: flex;
  gap: 10px;
}

.user-details h1 {
  text-wrap: nowrap;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 4rem;
  text-align: start;
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea {
  font-size: 1em;
}

.btn {
  border: none;
  display: flex;
  gap: 10px;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 15px;
}

.btn:hover {
  background-color: #272728;
}

.btn:nth-child(2) {
  background-color: #b50015;
}

.btn:nth-child(2):hover {
  background-color: #511017;
}

@media (max-width: 1024px) {
  .profile-container {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .edit-profile-container,
  .edit-email-container {
    padding: 20px;
  }
  .profile-container {
    max-width: 90%;
    gap: 15px;
  }

  .btn.edit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }

  .btn:nth-child(2) {
    padding: 10px;
    background-color: #b50015;
  }
}

@media (max-width: 480px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .edit-profile-container {
    padding: 15px;
    gap: 15px;
    width: 100%;
  }

  .user-details h1 {
    font-size: 2rem;
  }

  .profile-actions .btn {
    font-size: 0.875rem;
  }

  .profile-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .user-details,
  .profile-actions {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  .form-group input,
  .form-group textarea {
    width: calc(100% - 5px);
    padding: 6px;
  }
}

.threedcontainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
}

.threedcontainer:active {
  cursor: grabbing;
}

.threedcontainer canvas {
  width: 100%;
  height: auto;
}

footer {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
footer p {
  font-size: 14px;
  text-align: center;
}
