* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color-drk);
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
}
section {
  height: 100vh;
}
i {
  color: var(--text-color-drk);
}
