body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3e2e2;
}

#team {
  text-align: center;
  padding: 50px 0;
  background-color: #f3e2e2;
}

#team h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
  justify-items: center;
}

.team-member {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 250px;
  padding: 20px;
  text-align: center;
}

.team-member img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}

.team-member p {
  font-size: 1em;
  color: #777;
}

.team-member:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
