/* #team {
  text-align: center;
  padding: 50px 0;
  background-color: #f3e2e2;
  height: auto;
} */

#team {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: url("../assets/images/flipThumbnail.jpg") center/cover no-repeat;
}

/* .team-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

#team h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.team-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; */
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 20px;
  /* padding: 0 20px; */
  /* justify-items: center; */
}

.team-member {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 250px;
  height: 300px;
  padding: 20px;
  text-align: center;
}

.team-member img {
  border-radius: 5%;
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 1.5em;
  /* margin: 10px 0; */
  color: #333;
}

.team-member p {
  font-size: 1em;
  color: #777;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
